

<div class="banner">
  <div class="banner-content">
    <h1>Best Cocktails</h1>
    <p>Discover the best cocktails in town</p>

    <ul class="list-inline">
      <li>
        <h2><%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary" %></h2>
      </li>
      <li>
        <h2><%= link_to "See our cocktails", '#cocktails', class: "btn btn-primary" %></h2>
      </li>
    </ul>
    </div>
</div>


<h1 class="text-center title" id="cocktails"><i class="fa fa-glass" aria-hidden="true"></i>    Our Amazing Cocktails   <i class="fa fa-glass" aria-hidden="true"></i></h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% image_url = cocktail.photo.present? ? cl_image_path(cocktail.photo, height: 200, width: 200, crop: :thumb) : image_path("cocktail-default.jpg") %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_url %>')">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "card-title text-center"%></h2>
          <p><ul class="card-description">
            <% cocktail.doses.first(4).each do |dose| %>
              <li><strong><%= dose.ingredient.name.upcase %></strong> :
              <%= dose.description %></li>
            <% end %>
          </ul>
          </p>
          <p><%= link_to "Update", cocktail_path(cocktail), class: "btn btn-info btn-xs card-update text-center"%></p>
          </div>
      </div>
    <% end %>
  </div>
</div>



