<h1 class="text-center"><%= @cocktail.name %></h1>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li><strong><%= dose.ingredient.name.upcase %></strong> :
  <%= dose.description %> -----
  <%= link_to "Delete this dose", dose_path(dose),
      method: :delete, class: "btn btn-danger btn-xs" %>
</li>
<% end %>
</ul>

<div class="text-center">
  <p><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %></p>
</div>



<div class="text-center">
  <p><%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-danger" %></p>
</div>



<div class="formulaire">
  <h3 class="text-center">Add your dose here</h3>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient::all, prompt: "Chose an ingredient" %>
    <%= f.submit 'dose!', class: "btn btn-success"%>

  <% end %>
</div>
